*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Epilogue', sans-serif;
}
a{
    display: block;
    text-decoration: none;
}


span{
    display: block;
}


header{
    background-color: #010032;
}
.container{
    width: 1280px;
    margin: 0 auto;
}


nav .container{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-list{
    display: flex;
}


.menu-link{
    color: #fff;
    margin: 0 20px;
    transition: .5s;
}
.menu-link:hover{
    text-shadow: rgba(255, 255, 255,1) 0px 0px 20px;
    transform: scale(1.05);
}


.wrapper{
    display: flex;
    align-items: center;
}
.wrapper a{
    color: #fff;
}
.wrap-line{
    cursor: pointer;
}
.wrap-transform{
    margin: 6px 10px;
    width: 25px;
    height: 2px;
    border-radius: 20px;
    background-color: #fff;
    transition: .5s;
}
.wrapper:hover .wrap-transform:nth-child(1){
    transform: translateY(4px) rotate(45deg) scale(1.1);
}
.wrapper:hover .wrap-transform:nth-child(2){
    transform: translateY(-4px) rotate(-45deg) scale(1.1);
}




.impact{
    display: flex;
    gap: 108px;
    justify-content: space-between;
}
.impact-text{
    margin-top: 89px;
    color: #fff;
    width: 604px;
}
.impact-text h2{
    margin: 11px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
}
.impact-text .alex{
    margin: 23px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}
.impact-text button{
    cursor: pointer;
    padding: 21px 42px;
    display: flex;
    gap: 23px;
    align-items: center;
    border-radius: 32px;
    transition: .5s;
}
.impact-text button:hover{
    transform: scale(1.05);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 20px 30px;
}
.impact-text button p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000;
}
.impact-text button .fa-envelope{
    font-size: 18px;
}
.cup{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.cup .trophy{
    cursor: pointer;
    font-size: 50px;
    transition: .5s;
}
.cup:hover .trophy{
    transform: scale(1.2);
}
.cup-text p{
    padding-bottom: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.cup-text span{
    display: block;
    padding-top: 7px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
}
.impact-img{
    width: 568px;
    height: 770px;
    position: relative;
}
.impact-img img{
    position: absolute;
    left: 39px;
}



main{
    background: #E5E5E5;
}


.about{
    padding-top: 146px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 182px;
}


.steve{
    width: 391px;
}
.wave{
    padding: 10px 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}
.wave a{
    padding: 0;
    position: absolute;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4543E8;
    transition: .5s;
}
.wave img{
    transform-origin: 0;
    transform: scaleX(0);
    transition: .5s;
}
.wave:hover img{
    transform: scaleX(100%);
}
.wave:hover a{
    transform: translateX(100px);
}
.steve-coment{
    margin-top: 115px;
}
.steve-coment .app{
    margin: 23px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
}
.stars{
    display: flex;
    gap: 10px;
}
.stars i{
    cursor: pointer;
    color: #4543E8;
    transition: .5s;
}
.stars i:hover{
    color: gold;
    transform: scale(1.5);
}
.name{
    margin-top: 4px;
    display: flex;
}
.name-nm{
    margin-left: 24px;
}
.name-nm p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.name-nm span{
    display: block;
    margin-top: 10px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}


.startups{
    width: 767px;
}
.startups h2{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
}
.startup-nums{
    margin-top: 74px;
    display: flex;
}
.nums{
    margin-right: 64px;
}
.nums h3{
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    color: #4543E8;
}
.nums p{
    margin-top: 8px;
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    font-style: normal;
}
.startup-logos{
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoipsum{
    display: flex;
    align-items: center;
}
.logoipsum i{
    padding: 9px;
    font-size: 30px;
}
.logoipsum p{
    font-size: 20px;
    font-weight: 900;
}
.logoipsum p i{
    font-size: 7px;
}



.client{
    margin-top: 26px;
    width: 698px;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
}
.vivamus{
    position: relative;
    margin-top: 78px;
    display: flex;
    justify-content: space-between;
}
.maize{
    width: 510px;
}
.maize:hover img{
    opacity: 80%;
}
.maize p{
    width: 500px;
    margin-top: 23px;
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
}
.maize a i{
    transform: rotate(-45deg);
}
.maize-arrow{
    color: #000;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.datadash{
    width: 620px;
}
.datadash:hover img{
    opacity: 80%;
}
.datadash p{
    width: 500px;   
    margin-top: 23px;
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
}
.datadash a i{
    transform: rotate(-45deg);
}
.joggr{
    margin-top: 109px;
    margin-left: 390px;
    width: 740px;
}
.joggr:hover img{
    opacity: 80%;
}
.joggr p{
    margin-top: 23px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
.joggr a i{
    transform: rotate(-45deg);
}
.otsuka{
    width: 620px;
}
.otsuka:hover img{
    opacity: 80%;
}
.otsuka p{
    width: 459px;
    margin-top: 23px;
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
}
.otsuka a i{
    transform: rotate(-45deg);
}
.origin{
    width: 512px;
}
.origin:hover img{
    opacity: 80%;
}
.origin p{
    width: 500px;
    margin-top: 23px;
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
}
.origin a i{
    transform: rotate(-45deg);
}

.all-pr{
    cursor: pointer;
    position: absolute;
    left: 768px;
    top: 725px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    background-color: #4543E8;
}
.all-pr p{
    width: 81px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
}
.all-pr:hover p{
    transform: scale(1.05);
    text-shadow: rgba(0, 0, 0, 1) 2px 20px 20px;
}





.push{
    margin-top: 204px;
    background-color: #010032;
}
.services{
    display: flex;
    flex-wrap: wrap;
    padding: 144px 0;
    color: #fff;
}
.services h2{
    margin-top: 22px;
    width: 352px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
}
.serv-head{
    width: 420px;
    height: 283px;
}
.serv-head .wave{
    color: #fff;
}
.branding{
    margin-left: 119px;
    width: 290px;
    height: 283px;
}
.branding img{
    margin: 27px 7px;
}
.branding h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.branding p{
    margin: 23px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.packaging{
    margin-left: 119px;
    width: 290px;
    height: 283px;
}
.packaging img{
    margin: 27px 7px;
}
.packaging h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.packaging p{
    margin: 23px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.memora{
    margin-top: 40px;
    margin-left: 130px;
    width: 290px;
    height: 283px;
}
.memora img{
    margin: 27px 7px;
}
.memora h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.memora p{
    margin: 23px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.vsaid{
    margin-top: 40px;
    margin-left: 119px;
    width: 290px;
    height: 283px;
}
.vsaid img{
    margin: 27px 7px;
}
.vsaid h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.vsaid p{
    margin: 23px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.end-wave{
    position: relative;
    margin-left: 119px;
    margin-top: 40px;
}
.st-proj{
    margin-top: 115px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272px;
    height: 69px;
    border: 2px solid #fff;
    border-radius: 32px;
    background-color: #fff;
    transition: .5s;
}
.st-proj:hover{
    transform: scale(1.05);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 20px 30px;
}
.st-proj i{
    font-size: 20px;
    opacity: 0;
    transition: .5s;
    transform: scale(0.5);
}
.st-proj:hover i{
    transform: translateX(25px) scale(1);
    opacity: 100%;
}
.st-wave{
    margin-top: 54px;
    position: absolute;
    left: 140px;
    width: 168px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.st-wave img{
    position: absolute;
}
.st-wave img:nth-child(2){
    margin-left: 49px;
    top: 26px;
}




.testi{
    background-color: #D8D8EB;
}
.testimonials{
    padding-top: 120px;
    padding-bottom: 100px;
}
.testimonials .wave{
    padding: 10px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.testimonials .wave a{
    padding: 0;
    position: absolute;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4543E8;
    transition: .5s;
}
.testimonials .wave img{
    margin: 0 80px;
}
.testimonials .wave img:nth-child(1){
    transform-origin: 100%;
    transform: scaleX(0);
    transition: .5s;
}
.testimonials .wave:hover img{
    transform: scaleX(100%);
}
.testimonials .wave:hover a{
    transform: translateX(0px);
}
.testimonials h2{
    padding-top: 26px;
    width: 623px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    text-align: center;
}
.comms{
    margin-top: 58px;
    display: flex;
    gap: 80px;
}
.stiv{
    width: 576px;
    padding: 40px 0 52px 40px;
    border-radius: 20px 20px 0 20px;
    background-color: #fff;
    transition: .5s;
}
.stiv:hover{
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.stiv h3{
    margin-top: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}
.stiv .stivp{
    width: 476px;
    margin: 15px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.stiv-pr{
    margin-top: 8px;
    display: flex;
}
.stiv-nm{
    margin-left: 24px;
}
.stiv-nm p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.stiv-nm span{
    margin-top: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.next-pg{
    margin: 0 auto;
    height: 48px;
    margin-top: 92px;
    text-align: center;
}
.next-pg button{
    margin: 0 11px;
    cursor: pointer;
    width: 48px;
    height: 48px;
    font-size: 24px;
    border: none;
    color: #4543E8;
    background: transparent;
    transition: .5s;
    border-radius: 4px;
}
.next-pg button:hover{
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}



.process{
    padding: 144px 0;
}
.easy{
    display: flex;
    justify-content: space-between;
}
.easy h2{
    width: 488px;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 1.2px;
}
.easy p{
    width: 406px;
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
}
.plans{
    margin-top: 165px;
    display: flex;
    justify-content: space-between;
}
.listen{
    width: 400px;
}
.listen:nth-child(1){
    width: 330px;
}
.listen a{
    display: flex;
    align-items: center;
}
.listen a h2{
    font-size: 48px;
    line-height: 54px;
    font-weight: 400;
    color: #4543E8;
    transition: .5s;
}
.listen:hover a h2{
    transform: scale(1.1);
}
.listen a i{
    margin-left: 160px;
    color: #4543E8;
    opacity: 0;
    transition: .5s;
}
.listen:hover a i{
    transform: translate(34px);
    opacity: 100%;
}
.listen h3{
    margin-top: 31px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}
.listen p{
    margin-top: 11px;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
}
.listen:nth-child(3) p{
    font-size: 18px;
    font-weight: 400;
}






.shop{
    padding-bottom: 130px;
    text-align: center;
}
.shop .wave{
    padding: 10px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.shop .wave a{
    padding: 0;
    position: absolute;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4543E8;
    transition: .5s;
}
.shop .wave img{
    margin: 0 40px;
}
.shop .wave img:nth-child(1){
    transform-origin: 100%;
    transform: scaleX(0);
    transition: .5s;
}
.shop .wave:hover img{
    transform: scaleX(100%);
}
.shop .wave:hover a{
    transform: translateX(0px);
}
.shop h2{
    margin-top: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
}
.products{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.product{
    text-align: start;
}
.product p{
    margin-top: 32px;
}
.product span{
    margin-top: 6px;
}

.shop .viewall{
    border: none;
}
.viewall:hover{
    border-bottom: 1px solid;
}


.blog{
    padding-bottom: 120px;
}
.tech{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tech h2{
    font-family: 'Space Grotesk', sans-serif;
    width: 631px;
    font-size: 56px;
    line-height: 64px;
    font-weight: 400;
    letter-spacing: 1px;
}
.tech button{
    width: 274px;
    height: 65px;
    border-radius: 32px;
    border: none;
    background-color: #4543E8;
    color: #fff;
}
.posts{
    margin: 48px 0;
    display: flex;
}
.post-com{
    margin-left: 40px;
}
.post-com a{
    position: relative;
    color: #4543E8;
    display: flex;
    justify-content: space-between;
}
.post-com a button{
    cursor: pointer;
    position: absolute;
    width: 100px;
    left: 780px;
    background: transparent;
    border: none;
    color: #4543E8;
}
.post-com h3{
    width: 530px;
    margin-top: 19px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}
.post-com .viv{
    margin-top: 23px;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
}