*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Epilogue', sans-serif;
}
a{
    display: block;
    text-decoration: none;
}



header{
    background-color: #010032;
}
.container{
    width: 1280px;
    margin: 0 auto;
}


nav .container{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-list{
    display: flex;
}


.menu-link{
    color: #fff;
    margin: 0 20px;
}


.wrapper{
    display: flex;
    align-items: center;
}
.wrapper a{
    color: #fff;
}
.wrap-line{
    cursor: pointer;
}
.wrap-transform{
    margin: 6px 10px;
    width: 25px;
    height: 2px;
    border-radius: 20px;
    background-color: #fff;
    transition: .5s;
}
.wrapper:hover .wrap-transform:nth-child(1){
    transform: translateY(4px) rotate(45deg) scale(1.1);
}
.wrapper:hover .wrap-transform:nth-child(2){
    transform: translateY(-4px) rotate(-45deg) scale(1.1);
}




.impact{
    display: flex;
    gap: 108px;
    justify-content: space-between;
}
.impact-text{
    margin-top: 89px;
    color: #fff;
    width: 604px;
}
.impact-text h2{
    margin: 11px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
}
.impact-text .alex{
    margin: 23px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}
.impact-text button{
    padding: 21px 42px;
    display: flex;
    gap: 23px;
    align-items: center;
    border-radius: 32px;
}
button p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000;
}
.cup{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.cup-text p{
    padding-bottom: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.cup-text span{
    display: block;
    padding-top: 7px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
}
.impact-img{
    width: 568px;
    height: 770px;
    position: relative;
}
.impact-img img{
    position: absolute;
    left: 39px;
}



.about{
    margin-top: 146px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 182px;
}


.steve{
    width: 391px;
}
.wave{
    display: flex;
    align-items: center;
    gap: 20px;
}
.wave a{
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4543E8;
}
.steve-coment{
    margin-top: 115px;
}
.steve-coment .app{
    margin: 23px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
}
.stars{
    display: flex;
    gap: 10px;
}
.name{
    margin-top: 4px;
    display: flex;
}
.name-nm{
    margin-left: 24px;
}
.name-nm p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.name-nm span{
    display: block;
    margin-top: 10px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}


.startups{
    width: 767px;
}
.startups h2{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
}
.startup-nums{
    margin-top: 74px;
    display: flex;
}
.nums{
    margin-right: 64px;
}
.nums h3{
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    color: #4543E8;
}
.nums p{
    margin-top: 8px;
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    font-style: normal;
}
.startup-logos{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}



.client{
    margin-top: 26px;
    width: 698px;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
}
.vivamus{
    position: relative;
    margin-top: 78px;
    display: flex;
    justify-content: space-between;
}
.maize{
    width: 510px;
}
.maize p{
    width: 500px;
    margin-top: 23px;
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
}
.maize a i{
    transform: rotate(-45deg);
}
.maize-arrow{
    color: #000;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.datadash{
    width: 620px;
}
.datadash p{
    width: 500px;   
    margin-top: 23px;
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
}
.datadash a i{
    transform: rotate(-45deg);
}
.joggr{
    margin-top: 109px;
    margin-left: 390px;
    width: 740px;
}
.joggr p{
    margin-top: 23px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
.joggr a i{
    transform: rotate(-45deg);
}
.otsuka{
    width: 620px;
}
.otsuka p{
    width: 459px;
    margin-top: 23px;
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
}
.otsuka a i{
    transform: rotate(-45deg);
}
.origin{
    width: 512px;
}
.origin p{
    width: 500px;
    margin-top: 23px;
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
}
.origin a i{
    transform: rotate(-45deg);
}

.all-pr{
    cursor: pointer;
    position: absolute;
    left: 768px;
    top: 725px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    background-color: #4543E8;
}
.all-pr p{
    width: 81px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
}
.all-pr:hover p{
    transform: scale(1.2);
}





.push{
    margin-top: 204px;
    background-color: #010032;
}
.services{
    padding-top: 144px;
    color: #fff;
}
.services h2{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
}